*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  background: #F4E6DF;
}
header{
  padding-top: 5px;
  padding-left: 5%;
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
}



.main-menu ul{
  list-style-type: none;
  display: flex;
  color: #65317E;
  display: inline-flex;
  align-items: center;
  gap: 3.8rem;
  font-size: 16px;
  font-weight: bold;
}

.logo{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo img{
  width: 2.5rem;
  height: 3.3rem;
}


.contsiner-courses{
  color: #65317E;
}
.container-k-g{
  padding-top: 3%;
  color: #65317E;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.container-phyton{
  width: 25%;
}

a{
  text-decoration: none;
  color: inherit;
}

.container-courses{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-courses{
  display: block;
  align-items: center;
  justify-content: center;
  width:26%;
  padding-left: 1%;
  margin: 1.5%;
}

.cont-courses img {
  width: 100%;
}
.container-color-geolab{
  color: #65317E;
}
.container-color-inherit-purple{
  color: #662E88;
}
.container-padding{
  padding: 10px;
}
.container-margin{
  margin: 10px;
}

.container-font-size{
  font-size: 22px;
  color: #662e88;
}
.container-bold-size-30{
  font-weight: bold;
  font-size: 30px;
}

.cont-font-f{
  font-weight: bold;
  font-size: 18px;
}

.container-vi-le{
  width: 30%;
  padding-top: 6%;
  margin-left:9.5%;
}
.container-color-inherit{
  color: #5E5454;

}
.container-vi-le article{
  color: #5E5454;
  padding-top: 2%;
}

.container-y-v{
  display: flex;
  align-items: center;
  padding-top: 1%;
  margin-left:9.5%;
  margin-bottom: 2%;

}

.container-y-v img {
  width: 2%;
  margin-left: 2%;
}

.container-slider-img img {
  width: 100%;
}

.container-min-ph img {
  width: 100%;

}
.container-proj{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.container-w-p{
  padding-left: 2%;
  color: #65317E;
  font-size: 24px;
  font-weight: bold;
}
.container-proj img{
  height: 380px;
  padding: 15px;

}
.container-discription{
  color: #65317E;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5%;
  padding-bottom: 2%;
}

.container-video img{
  width: 26%;
}
.img-art{
  width: 30%;
}


.container-all-v-a-l {
  display: flex;
}

.container-vi-le {
  flex: 1;
}

.container-y-v {
  margin-left: auto;
}

.img-art {
  margin-right: 10%;
}
.container-y-v p {
  display: inline-block;
  text-align: left;
}

.container-vi-yout{
  display: flex;
  align-items: center;
}
.container-vi-yout img {
  width: 3%;
  margin:20px;
}
.container-geolab-yout{
  width:60%;
  font-size: 18px;
}

.container-us-img img  {
  width: 100%;
}
.container-ab-us {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-us-w{
  font-weight: bold;
  padding-left: 2.5%;


}
.container-us-txt{
  width: 50%;
  color: #5E5454;

}
.container-us-text{
  width:80%;
  padding: 20px;
}

.container-us-img {
  position: relative;
  text-align: center;
  color: white;
}

.text-over-img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.container-color-purple{
  color: #662e88;
  font-size: 34px;
}

.container-n-w{
  color: #662e88;
  font-weight: normal;

}
.container-downlad{
  border-radius: 14px;
  border: solid #662e88;
  height: 63px;
  width: 60%;
  padding: 12px 19px;
  background: inherit;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  color: #662e88;
  width: 100%;
}
.container-btn{
  padding-top: 2%;
  padding-left: 15%;

}

.container-downlad img{
  padding-left: 20px;
  max-width: 40%;
  color: #662e88;
}
.container-color-purple{
  padding: 20px;
}
.container-n-w{
  padding-bottom: 10px;
}


.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 2s ease;

}
.slide img {
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 2%;
}

.carousel {
  padding-top: 2%;
  display: flex;
  width: 700px;
  animation: carousel-slide 7s linear infinite;
}

@keyframes carousel-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700px);
  }
}

.carousel-image {
  flex: 0 0 auto;
  width: 55%;
  height: 400px;
  margin-right: 10px;
  object-fit: cover;
}

.cont-img-lv{
  display: flex;
  align-items: center;
  justify-content: center;

}
.cont-img-lv img{
  width: 230px;
  height: 110px;
  padding-top: 2%;
  padding-bottom: 1%;
  margin: 30px;

}

.ui-switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider-11 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider-11 .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider-11 .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}



.ui-switch input:checked+.slider-11 .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider-11 .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

.container-technology {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  padding-top: 2%;
}

.container-ph-les img {
  max-width: 100%;
  height: auto;
}

.container-ph-les {
  padding: 20px;
}

.container-em {
  color: #636b7c;
  font-size: 16px;
  padding-top: 4px;
}

.container-nm {
  width: 100%;
  color: #662e88;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 12px;
}
.container-technology img{
  max-width: 100%;
}
