*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: #020611!important;
}

.nav-item  , .nav-link ,  .active{
  color: white!important;
  padding: 25px!important;
}

.container-generation{
  font-size: 72px;
  color: white;
  margin-top: -20%!important;
  padding-left: 5%!important;

}
.container-gen{
  color: #33BBCF;
}

.container-team{
  font-size: 18px;
  width: 25%;
  color:#ffffffb3;
  padding-left: 5%!important;
}

.container-words{
  width:100%!important;
}

.container-arm-cards img{
  width: 100%;
}

.container-first-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-procent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  background-color: #272727;
  padding: 10px 19px;
  border-radius: 10px;
}


.container-im-procent img {
  height: 100%;
  margin-right: 10px;
}

.container-w-20 {
  margin: 0;
}
.container-next img{
  height: 100px;
  padding-left: 5%;
}
.container-number {
  color: #ffffff;
  font-size: 40px;
  padding: 10px;
}
.container-w-b{
  font-size: 20px;
  color: #33BBCF;
  padding: 10px;
}
.container-w-n{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container-y-b{
  width: 40%;
  color:  #ffffff;
  font-size: 48px;
}
.container-r-a{
  color: #FFFFFFB2;
  width: 40%;

}
.container-get{
  color: black;
  background: #33BBCF;
  padding: 10px 15px;
  border-radius: 10px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-get{
  margin-top: 2%;
  margin-bottom: 2%;
}
a{
text-decoration: none!important;
}
.container-third-page{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-security{
background-color: #433b54;
padding: 20PX;
border-radius: 20px;
}
.container-paypal img{
  width: 50%;

}
.container-security{
  padding: 20PX;

}
.container-balance{
  padding: 20PX;

}
.container-all-security{
  display: block;
  width: 50%;
}
.container-third-page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
