@media only screen and (max-width: 600px) {
.container-tw-th-tg{
  flex-direction: column;
  padding-top: %;
  display: block;
}
.container-nav-fot ul{
  flex-direction: column;
}
.container-list{
  padding: 0px!important;
}

.row , .text-center{
  padding-top: 70%;
}
.subscribe-section .subscribe-form input[type="email"]{
  width: 50%;
}
.navbar-brand a {
  display: none;
}
.banner-content{
width: 100%;
}
.container-contact{
  margin: 5%!important;
}
.btn-primary {
  background-color: #007bff !important;
  border-color: #343A40!important;
  transition: background-color 0.3s, border-color 0.3s !important;
}
}
